In [1]:
product_name="apple"
product_cost=20
# the cost of apple is Rs.20

In [2]:
product_name="orange"
product_cost=10
# the cost of orange is Rs.10

In [3]:
product_name="orange"
product_cost=10
s="the cost of"+product_name
print(s)

the cost oforange

In [4]:
product_name="orange"
product_cost=10
s="the cost of "+product_name
print(s)

the cost of orange

In [5]:
product_name="orange"
product_cost=10
s="the cost of "+product_name+"is"
print(s)

the cost of orangeis

In [6]:
product_name="orange"
product_cost=10
s="the cost of "+product_name+" is"
print(s)

the cost of orange is

In [7]:
product_name="orange"
product_cost=10
s="the cost of "+product_name+" is Rs."
print(s)

the cost of orange is Rs.

In [8]:
product_name="orange"
product_cost=10#integer
s="the cost of "+product_name+" is Rs."+product_cost
print(s)

TypeError: can only concatenate str (not "int") to str

In [9]:
"sdf"+10

TypeError: can only concatenate str (not "int") to str

In [10]:
product_name="orange"
product_cost=10#integer
s="the cost of "+product_name+" is Rs."+str(product_cost)
print(s)

the cost of orange is Rs.10

In [11]:
product_name="orange"
product_cost=10#integer
s="the cost of "+product_name+" is Rs."+str(product_cost)
print(s)
# template string
s="the cost of {product_name} is Rs.{product_cost}"
print(s)

the cost of orange is Rs.10
the cost of {product_name} is Rs.{product_cost}

In [12]:
product_name="orange"
product_cost=10#integer
s="the cost of "+product_name+" is Rs."+str(product_cost)
print(s)
# template string
s=f"the cost of {product_name} is Rs.{product_cost}"
print(s)

the cost of orange is Rs.10
the cost of orange is Rs.10

In [13]:
product_name="orange"
product_cost=10#integer
s="the cost of "+product_name+" is Rs."+str(product_cost)
print(s)
# template string
s=f"the cost of {product_name} is Rs.{product_cost} discount:{discount}"
print(s)

the cost of orange is Rs.10

NameError: name 'discount' is not defined

In [14]:
print(true)

NameError: name 'true' is not defined

In [15]:
print(True)# True is defined by python

True

In [16]:
print("true")

true

In [17]:
import keyword

In [19]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
print(name)

NameError: name 'name' is not defined

In [21]:
name="ANIL"
print(name)

ANIL